/*? Resolucion Mobile */
@media screen and (min-width: 360px) {
    #Sidebar {
        /* border: 2px solid red; */
        /* border-radius: 30px; */
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    #LogoVoxify{
         /* border: 3px solid forestgreen; */
         border-radius: 60px;
         height: 7rem;
         width: 7rem;
         background-image: url('../../../public/imagenes/logo/VoxifyLogo.png');
         background-size: contain;
         background-position: center;
     }
}

/*? Resolucion Laptops */
@media screen and (min-width: 1280px) {
    #Sidebar {
       /*  border: 4px solid brown; */
        /* border-radius: 30px; */
        height: 100%;
        width: 23%;
       /*  border-right: 1px solid gainsboro; */
        margin-top: 0; /* Corrige la altura que viene de mobile */
    }

    #LogoVoxify{
       /*  border: 4px solid forestgreen; */
        border-radius: 30px;
        height: 18%;
        width: 100%;
        background-image: url('../../../public/imagenes/logo/VoxifyLogo.png');
        background-size: cover;
        background-position: center;
    }

    #ContenedorEnlaces{
        /* border: 2px solid blue; */
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding: .5rem;
    }

    #EnlaceSidebar{
        /* border: 2px solid springgreen; */
        display: flex;
        align-items: center;
        gap: .4rem;
        align-items: center;
        padding: 10px;
    }

    /* Anclajes */
    #EnlaceSidebar > a {
        /* border: 2px solid green; */
        height: 2rem;
        text-decoration: none;
        color: black;
        font-size: 1.1rem;
        font-weight: 300;
        margin-top: .5rem;
    }

    /* Iconos */
    #EnlaceSidebar > #IconosContenedor {
       /*  border: 2px solid red; */
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
        color: var(--color-primario); /* Color verde */
    }
}