/*? Resolucion Mobile */
@media screen and (min-width: 360px) {
    #Sidebar {
        /* border: 2px solid red; */
        /* border-radius: 30px; */
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    #LogoVoxify{
         /* border: 3px solid forestgreen; */
         border-radius: 60px;
         height: 7rem;
         width: 7rem;
         background-image: url('../../../public/imagenes/logo/VoxifyLogo.png');
         background-size: contain;
         background-position: center;
     }
}

/*? Resolucion Laptops */
@media screen and (min-width: 1280px) {
    #Sidebar {
       /*  border: 4px solid brown; */
        /* border-radius: 30px; */
        height: 100%;
        width: 23%;
       /*  border-right: 1px solid gainsboro; */
        margin-top: 0; /* Corrige la altura que viene de mobile */
    }

    #LogoVoxify{
       /*  border: 4px solid forestgreen; */
        border-radius: 30px;
        height: 18%;
        width: 100%;
        background-image: url('../../../public/imagenes/logo/VoxifyLogo.png');
        background-size: cover;
        background-position: center;
    }
}