/*? Resolucion Mobile */
@media screen and (min-width: 360px) {
    /* Contenedor General Sidebar */
    #Sidebar {
        /* border: 2px solid navy; */
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }

    /* Logo Voxify - Background */
    #LogoVoxify{
         /* border: 3px solid forestgreen; */
         border-radius: 60px;
         height: 8rem;
         width: 8rem;
         background-image: url('../../../public/imagenes/logo/VoxifyLogo.png');
         background-size: contain;
         background-position: center;
     }

     /* Contenedor de Enlaces - Anchors */
     #ContenedorEnlaces{
        /* border: 2px solid greenyellow; */
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 5px;
     }

     /* Iconos */
     #IconosContenedor{
        display: none;
     }

     /* Anchors */
     #EnlaceSidebar{
        text-decoration: none;
        color: var(--color-primario);
        font-weight: 500;
     }
}

/*? Resolucion Laptops */
@media screen and (min-width: 1280px) {
    #Sidebar {
        /* border: 4px solid brown; */
        height: 100%;
        width: 23%;
    }

    #LogoVoxify{
       /*  border: 4px solid forestgreen; */
        border-radius: 30px;
        height: 18%;
        width: 100%;
        background-image: url('../../../public/imagenes/logo/VoxifyLogo.png');
        background-size: cover;
        background-position: center;
    }

    #ContenedorEnlaces{
        /* border: 2px solid blue; */
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: .5rem;
        gap: .5rem;
    }

    #EnlaceSidebar{
        /* border: 2px solid springgreen; */
        display: flex;
        align-items: center;
        gap: .4rem;
        align-items: center;
        padding: 6px 10px;
        cursor: pointer;
        transition: .7s ease;
        text-decoration: none;
        color: black;
    }

    #EnlaceSidebar:hover{
        background-color: rgba(220, 220, 220, 0.459);
        border-radius: 20px;
    }

    /* Anclajes */
    #EnlaceSidebar > a {
        /* border: 2px solid green; */
        height: 2rem;
        text-decoration: none;
        color: black;
        font-size: 1rem;
        font-weight: 300;
        margin-top: .5rem;
    }

    /* Iconos */
    #EnlaceSidebar > #IconosContenedor {
       /*  border: 2px solid red; */
        height: 2.2rem;
        width: 2.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
        color: var(--color-primario); /* Color verde */
    }
}