/* Resolucion Mobile */
@media screen and (min-width: 360px) {
  #HeaderContent {
     /* border: 5px solid red; */
     display: flex;
     justify-content: center;
  }

  #TituloHeaderContent {
    font-size: 1.3rem;
    font-weight: 600;
    padding: .5rem 0;
  }
}

/* Resolucion Laptops */
@media screen and (min-width: 1280px) {
  #HeaderContent {
    /* border: 2px solid cornflowerblue; */
    width: 100%;
    justify-content: flex-start;
    border-left: 1px solid gainsboro;
  }

  #TituloHeaderContent {
    /* border: 2px solid skyblue; */
    border-radius: 0;
    margin: .7rem;
    font-size: 1.4rem;
    font-weight: 600 ;
  }
}
