/* Resolucion Mobile */
@media screen and (min-width: 360px) {
  #HeaderContent {
     /* border: 5px solid red; */
     display: flex;
     justify-content: center;
  }

  #TituloHeaderContent {
    font-size: 1.3rem;
    font-weight: 400;
    padding: .5rem 0;
  }
}

/* Resolucion Laptops */
@media screen and (min-width: 1280px) {
  #HeaderContent {
   /*  border: 2px solid cornflowerblue; */
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0; /* Reseteo */
    border-left: 1px solid gainsboro;
  }

  #TituloHeaderContent {
    /* border: 2px solid skyblue; */
    border-radius: 0;
    font-size: 1.4rem;
    font-weight: 400 ;
    width: max-content;
    margin: .7rem;
  }
}
